.main{
    display: flex;
    justify-content: center;
}

.calc{
    max-width: 233px;   
    border: 1px solid black;
}

.calc_inp{
    border-bottom: 1px solid black;
}

select{
    -moz-appearance: none;
    -webkit-appearance: none;
    border: none;
    position: relative;
    outline: none;
    padding: 5px; 
    width: 100%;
    color: #0097b3;
    font-weight: 500;
    font-size: 14px;
    z-index: 1;
    box-shadow: none;
}

.inp{ 
    padding: 0;
    margin: 0;
    width: 98%;
    padding: 1%;
    display: block;
    border: 0px;
    height: 40px;
}

.calc_keyboard{
    display: flex;
    width: 100%;
    align-content: flex-start;
    flex-flow: wrap;
    flex-grow: 4;
}

.key{
    display: flex;
    width: 75px;
    height: 75px;
    margin: 0px;
    padding: 0px;   
    flex-grow: 1;
    font-size: 32px;
    justify-content: center;
    align-items: center;
    background: #c4f7ff;
}

.key:hover{
    background: #70e5fa;
}

.select{
    display: flex;
}

.arrow{
    z-index: 5;
}

input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

@media (max-width: 768px) {
    .main{
        margin-top: 30px;
    }
}