@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;900&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a{
  text-decoration: none;
  color: black;
}

a:hover{
  color: black;
}


::-webkit-scrollbar { /* 1 - скроллбар */ 
  width: 5px;
  margin-left: 10px;
}

::-webkit-scrollbar-button { /* 2 - кнопка */
  height: 0;
}

::-webkit-scrollbar-track { /* 3 - трек */
  background-color: none;
  border-radius: 100px;
}

::-webkit-scrollbar-thumb { /* 5 - ползунок */
  border-radius: 100px;
  border-left: 0;
  border-right: 0;
  background-color: #0097b3;
}