h3{
    margin: 0;
    padding: 0;
}

.main{
    border: 1px solid black;
    border-left: 0px;
    padding: 0;
    margin: 0;
    position: relative;
}

.history{
    height: 479px;
    width: 310px;
    overflow-y: scroll;
}

.history_empty{
    display: flex;
    justify-content: center;
    margin-top: 50%;
    font-size: 18px;
    color: #0097b3;
}

.note{
    max-width: 280px;
    width: 100%;
    word-wrap: break-word;
    padding: 5px 10px;
}

.note_prompt{
    z-index: 10;
    background: rgb(137, 190, 255);
    border: 1px solid #0c00ba;
    padding: 0 5px; 
    font-size: 14px;
    visibility: hidden;
    height: 0px;
}

.note_container:hover p{
    visibility: visible;
    height: 100%;
}

.note_body{
    max-width: 100%;
    font-size: 16px;
    font-weight: 300;
    word-wrap: nowrap;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.note_res{
    font-size: 18px;
    font-weight: 500;
    color: #0097b3;
}

.history_buttons{
    display: flex;
    justify-content: space-between;
    position: relative;
    height: 75px;    
    border-top: 1px solid black;
}

.history_buttons div{
    display: flex;
    width: 
        100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background: #c4f7ff;
}

.history_buttons div:hover{
    background: #70e5fa;    
}

.history_buttons_back{
    max-width: 0px;
    visibility: hidden;
}

@media (max-width: 768px) {
    .main{
        margin-top: 30px;
        height: 555px;
        border: 1px solid black;
    }

    .history_buttons_back{
        display: block;
        max-width: 75px;
        border-left: 1px solid black;
        visibility: visible;
    }

    .hiddenEl{
        display: none;
    }

    .note_container:hover p{
        visibility: hidden;
        height: 100%;
    }

    .note_body{
        word-wrap: wrap;
        white-space: pre-line;
    }
}